# Byte-compiled / optimized / DLL files

__pycache__/

*.py[cod]

*$py.class

# Virtual environment

venv/

env/

.venv/

# Environment variables

.env

.env.*

# Distribution / packaging

build/

dist/

*.egg-info/

.eggs/

# PyInstaller

*.manifest

*.spec

# Test / coverage

.pytest_cache/

.coverage

htmlcov/

.tox/

.nox/

# Logs

*.log

# Jupyter Notebook

.ipynb_checkpoints/

# IDE / Editor

.vscode/

.idea/

*.swp

# OS files

.DS_Store

Thumbs.db
 
